<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Ticari_Otomasyon.Properties.Settings.Dbo_TicariOtomasyonConnectionString"
            connectionString="Data Source=DESKTOP-D1NE1FK\SQLEXPRESS;Initial Catalog=Dbo_TicariOtomasyon;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="localhost_Dbo_TicariOtomasyon_Connection" connectionString="XpoProvider=MSSqlServer;data source=DESKTOP-D1NE1FK\SQLEXPRESS;integrated security=SSPI;initial catalog=Dbo_TicariOtomasyon" />
        <add name="localhost_Dbo_TicariOtomasyon_Connection 1" connectionString="XpoProvider=MSSqlServer;data source=DESKTOP-D1NE1FK\SQLEXPRESS;integrated security=SSPI;initial catalog=Dbo_TicariOtomasyon" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.SqlServer.Types" publicKeyToken="89845dcd8080cc91" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-16.0.0.0" newVersion="16.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.ReportViewer.Common" publicKeyToken="89845dcd8080cc91" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-14.0.0.0" newVersion="14.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.ReportViewer.DataVisualization" publicKeyToken="89845dcd8080cc91" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-15.0.0.0" newVersion="15.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.ReportViewer.WinForms" publicKeyToken="89845dcd8080cc91" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>